@font-face {
    font-family: "iconfont"; /* Project id 4267851 */
    src: url('//at.alicdn.com/t/c/font_4267851_nswbuaz2t0m.woff2?t=1696313543791') format('woff2'),
    url('//at.alicdn.com/t/c/font_4267851_nswbuaz2t0m.woff?t=1696313543791') format('woff'),
    url('//at.alicdn.com/t/c/font_4267851_nswbuaz2t0m.ttf?t=1696313543791') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-quxiao:before {
    content: "\e60f";
}

.icon-quxiao1:before {
    content: "\e63c";
}

.icon-password:before {
    content: "\e734";
}

.icon-username:before {
    content: "\e73f";
}

.icon-ai-img-list:before {
    content: "\e60e";
}

.icon-icon:before {
    content: "\e694";
}

.icon-tupianshangchuan:before {
    content: "\e63a";
}

.icon-liuyan:before {
    content: "\e744";
}

.icon-wenzhang:before {
    content: "\e760";
}

.icon-fangwenliang:before {
    content: "\e703";
}

.icon-yonghuliang:before {
    content: "\e6a7";
}

.icon-xitong:before {
    content: "\e67c";
}

.icon-xiala:before {
    content: "\e634";
}

.icon-list:before {
    content: "\e6a8";
}

.icon-shouye:before {
    content: "\e8c6";
}

.icon-yonghuguanli:before {
    content: "\e614";
}

.icon-tianjiayonghu:before {
    content: "\e675";
}

.icon-taiyang1:before {
    content: "\e65e";
}

.icon-quanping1:before {
    content: "\e628";
}

.icon-yueliang:before {
    content: "\e764";
}

.icon-tuichuquanping:before {
    content: "\e629";
}

.icon-taiyang:before {
    content: "\e69d";
}

.icon-biaoqing:before {
    content: "\e639";
}

.icon-home:before {
    content: "\e60a";
}

.icon-yonghu:before {
    content: "\e66f";
}

.icon-wodewenzhang:before {
    content: "\e7d3";
}

.icon-tupian:before {
    content: "\e8ba";
}

.icon-shezhi:before {
    content: "\e645";
}

.icon-caidan:before {
    content: "\e636";
}
